[submodule "critical/repo"]
	path = critical/repo
	url = https://github.com/danielsdeleo/critical.git
[submodule "nagios-dashboard/repo"]
	path = nagios-dashboard/repo
	url = https://github.com/portertech/nagios-dashboard.git
[submodule "collectd-graphite/repo"]
	path = collectd-graphite/repo
	url = https://github.com/joemiller/collectd-graphite.git
[submodule "statsd/repo"]
	path = statsd/repo
	url = https://github.com/etsy/statsd.git
[submodule "flapjack/repo"]
	path = flapjack/repo
	url = https://github.com/auxesis/flapjack.git
