[submodule "critical/repo"]
	path = critical/repo
	url = https://github.com/danielsdeleo/critical.git
[submodule "nagios-dashboard/repo"]
	path = nagios-dashboard/repo
	url = https://github.com/portertech/nagios-dashboard.git
[submodule "collectd-graphite/repo"]
	path = collectd-graphite/repo
	url = https://github.com/joemiller/collectd-graphite.git
[submodule "statsd/repo"]
	path = statsd/repo
	url = https://github.com/etsy/statsd.git
[submodule "flapjack/repo"]
	path = flapjack/repo
	url = https://github.com/auxesis/flapjack.git
[submodule "clockwork/repo"]
	path = clockwork/repo
	url = https://github.com/adamwiggins/clockwork
[submodule "overwatch/repo"]
	path = overwatch/repo
	url = https://github.com/danryan/overwatch
[submodule "pencil/repo"]
	path = pencil/repo
	url = https://github.com/fetep/pencil
[submodule "graphite/rpms"]
	path = graphite/rpms
	url = https://github.com/dcarley/graphite-rpms
[submodule "reconnoiter/repo"]
	path = reconnoiter/repo
	url = https://github.com/omniti-labs/reconnoiter
[submodule "logster/repo"]
	path = logster/repo
	url = https://github.com/etsy/logster
[submodule "boomerang/repo"]
	path = boomerang/repo
	url = https://github.com/yahoo/boomerang/
[submodule "naglite2/repo"]
	path = naglite2/repo
	url = https://github.com/lozzd/Naglite2
[submodule "folsom/src"]
	path = folsom/src
	url = git://github.com/boundary/folsom.git
[submodule "metrics/src"]
	path = metrics/src
	url = git://github.com/codahale/metrics.git
[submodule "cucumber-nagios/repo"]
	path = cucumber-nagios/repo
	url = git://github.com/auxesis/cucumber-nagios.git
[submodule "etsy-nagios_tools/repo"]
	path = etsy-nagios_tools/repo
	url = https://github.com/etsy/nagios_tools.git
[submodule "remote_syslog/repo"]
	path = remote_syslog/repo
	url = https://github.com/papertrail/remote_syslog
[submodule "logstash/repo"]
	path = logstash/repo
	url = https://github.com/logstash/logstash
[submodule "fitb/repo"]
	path = fitb/repo
	url = git://github.com/lozzd/FITB.git
[submodule "porkchop/repo"]
	path = porkchop/repo
	url = https://github.com/disqus/porkchop
[submodule "disqus-nagios-plugins/repo"]
	path = disqus-nagios-plugins/repo
	url = https://github.com/disqus/nagios-plugins
[submodule "nagios-api/repo"]
	path = nagios-api/repo
	url = https://github.com/xb95/nagios-api
[submodule "extopus/repo"]
	path = extopus/repo
	url = https://github.com/oetiker/extopus
[submodule "molog/repo"]
	path = molog/repo
	url = https://github.com/smetj/molog
[submodule "graylog2/repo"]
	path = graylog2/repo
	url = https://github.com/Graylog2/graylog2-server
[submodule "cloudkick-plugins/repo"]
	path = cloudkick-plugins/repo
	url = https://github.com/cloudkick/agent-plugins
[submodule "collectd/repo"]
	path = collectd/repo
	url = https://github.com/octo/collectd.git
[submodule "moncli/repo"]
	path = moncli/repo
	url = https://github.com/smetj/moncli.git
[submodule "extrememon/extrememon"]
	path = extrememon/extrememon
	url = https://github.com/m4rienf/ExtreMon
[submodule "extrememon/extrememon-Display"]
	path = extrememon/extrememon-Display
	url = https://github.com/m4rienf/ExtreMon-Display
[submodule "riemann/repo"]
	path = riemann/repo
	url = https://github.com/aphyr/riemann
[submodule "metis/repo"]
	path = metis/repo
	url = https://github.com/krobertson/metis
[submodule "redis-cluster-monitor/repo"]
	path = redis-cluster-monitor/repo
	url = https://github.com/zealot2007/redis-cluster-monitor
[submodule "isotope11_traffic_lights/repo"]
	path = isotope11_traffic_lights/repo
	url = https://github.com/johndavid400/Isotope11_traffic_lights.git
[submodule "datadog/dd-agent"]
	path = datadog/dd-agent
	url = git://github.com/DataDog/dd-agent.git
[submodule "datadog/dogapi"]
	path = datadog/dogapi
	url = git://github.com/DataDog/dogapi.git
[submodule "servo/repo"]
	path = servo/repo
	url = https://github.com/Netflix/servo.git
[submodule "cepmon/repo"]
	path = cepmon/repo
	url = https://github.com/fetep/cepmon.git
[submodule "nervous/repo"]
	path = nervous/repo
	url = https://github.com/gflarity/nervous.git
[submodule "response/repo"]
	path = response/repo
	url = https://github.com/gflarity/response
[submodule "cube/repo"]
	path = cube/repo
	url = https://github.com/square/cube
[submodule "vacuumetrix/repo"]
	path = vacuumetrix/repo
	url = https://github.com/99designs/vacuumetrix
[submodule "vowpal_wabbit/repo"]
	path = vowpal_wabbit/repo
	url = https://github.com/JohnLangford/vowpal_wabbit
[submodule "storm/repo"]
	path = storm/repo
	url = https://github.com/nathanmarz/storm
[submodule "jimi-robot/repo"]
	path = jimi-robot/repo
	url = https://github.com/arozhkov/jimi-robot
[submodule "adagios/repo"]
	path = adagios/repo
	url = https://github.com/opinkerfi/adagios
[submodule "pynag/repo"]
	path = pynag/repo
	url = https://github.com/pynag/pynag
[submodule "okconfig/repo"]
	path = okconfig/repo
	url = https://github.com/opinkerfi/okconfig
