[submodule "critical/repo"]
	path = critical/repo
	url = https://github.com/danielsdeleo/critical.git
[submodule "nagios-dashboard/repo"]
	path = nagios-dashboard/repo
	url = https://github.com/portertech/nagios-dashboard.git
[submodule "collectd-graphite/repo"]
	path = collectd-graphite/repo
	url = https://github.com/joemiller/collectd-graphite.git
[submodule "statsd/repo"]
	path = statsd/repo
	url = https://github.com/etsy/statsd.git
[submodule "flapjack/repo"]
	path = flapjack/repo
	url = https://github.com/auxesis/flapjack.git
[submodule "clockwork/repo"]
	path = clockwork/repo
	url = https://github.com/adamwiggins/clockwork
[submodule "overwatch/repo"]
	path = overwatch/repo
	url = https://github.com/danryan/overwatch
[submodule "pencil/repo"]
	path = pencil/repo
	url = https://github.com/fetep/pencil
[submodule "graphite/rpms"]
	path = graphite/rpms
	url = https://github.com/dcarley/graphite-rpms
[submodule "reconnoiter/repo"]
	path = reconnoiter/repo
	url = https://github.com/omniti-labs/reconnoiter
[submodule "logster/repo"]
	path = logster/repo
	url = https://github.com/etsy/logster
[submodule "boomerang/repo"]
	path = boomerang/repo
	url = https://github.com/yahoo/boomerang/
[submodule "naglite2/repo"]
	path = naglite2/repo
	url = https://github.com/lozzd/Naglite2
[submodule "folsom/src"]
	path = folsom/src
	url = git://github.com/boundary/folsom.git
[submodule "metrics/src"]
	path = metrics/src
	url = git://github.com/codahale/metrics.git
[submodule "cucumber-nagios/repo"]
	path = cucumber-nagios/repo
	url = git://github.com/auxesis/cucumber-nagios.git
[submodule "etsy-nagios_tools/repo"]
	path = etsy-nagios_tools/repo
	url = https://github.com/etsy/nagios_tools.git
[submodule "remote_syslog/repo"]
	path = remote_syslog/repo
	url = https://github.com/papertrail/remote_syslog
[submodule "logstash/repo"]
	path = logstash/repo
	url = https://github.com/logstash/logstash
[submodule "fitb/repo"]
	path = fitb/repo
	url = git://github.com/lozzd/FITB.git
[submodule "porkchop/repo"]
	path = porkchop/repo
	url = https://github.com/disqus/porkchop
[submodule "disqus-nagios-plugins/repo"]
	path = disqus-nagios-plugins/repo
	url = https://github.com/disqus/nagios-plugins
[submodule "nagios-api/repo"]
	path = nagios-api/repo
	url = https://github.com/xb95/nagios-api
[submodule "extopus/repo"]
	path = extopus/repo
	url = https://github.com/oetiker/extopus
[submodule "molog/repo"]
	path = molog/repo
	url = https://github.com/smetj/molog
[submodule "graylog2/repo"]
	path = graylog2/repo
	url = https://github.com/Graylog2/graylog2-server
[submodule "cloudkick-plugins/repo"]
	path = cloudkick-plugins/repo
	url = https://github.com/cloudkick/agent-plugins
[submodule "collectd/repo"]
	path = collectd/repo
	url = https://github.com/octo/collectd.git
[submodule "moncli/repo"]
	path = moncli/repo
	url = https://github.com/smetj/moncli.git
[submodule "extrememon/extrememon"]
	path = extrememon/extrememon
	url = https://github.com/m4rienf/ExtreMon
[submodule "extrememon/extrememon-Display"]
	path = extrememon/extrememon-Display
	url = https://github.com/m4rienf/ExtreMon-Display
[submodule "riemann/repo"]
	path = riemann/repo
	url = https://github.com/aphyr/riemann
[submodule "metis/repo"]
	path = metis/repo
	url = https://github.com/krobertson/metis
[submodule "redis-cluster-monitor/repo"]
	path = redis-cluster-monitor/repo
	url = https://github.com/zealot2007/redis-cluster-monitor
[submodule "isotope11_traffic_lights/repo"]
	path = isotope11_traffic_lights/repo
	url = https://github.com/johndavid400/Isotope11_traffic_lights.git
[submodule "datadog/dd-agent"]
	path = datadog/dd-agent
	url = git://github.com/DataDog/dd-agent.git
[submodule "datadog/dogapi"]
	path = datadog/dogapi
	url = git://github.com/DataDog/dogapi.git
[submodule "servo/repo"]
	path = servo/repo
	url = https://github.com/Netflix/servo.git
[submodule "cepmon/repo"]
	path = cepmon/repo
	url = https://github.com/fetep/cepmon.git
[submodule "nervous/repo"]
	path = nervous/repo
	url = https://github.com/gflarity/nervous.git
[submodule "response/repo"]
	path = response/repo
	url = https://github.com/gflarity/response
[submodule "cube/repo"]
	path = cube/repo
	url = https://github.com/square/cube
[submodule "datadog/dogapi-rb"]
	path = datadog/dogapi-rb
	url = https://github.com/DataDog/dogapi-rb.git
[submodule "datadog/dogstatsd-python"]
	path = datadog/dogstatsd-python
	url = https://github.com/DataDog/dogstatsd-python.git
[submodule "datadog/puppet-datadog-agent"]
	path = datadog/puppet-datadog-agent
	url = https://github.com/DataDog/puppet-datadog-agent.git
[submodule "datadog/chef-handler-datadog"]
	path = datadog/chef-handler-datadog
	url = https://github.com/DataDog/chef-handler-datadog.git
[submodule "datadog/dogstatsd-ruby"]
	path = datadog/dogstatsd-ruby
	url = https://github.com/DataDog/dogstatd-ruby.git
[submodule "vacuumetrix/repo"]
	path = vacuumetrix/repo
	url = https://github.com/99designs/vacuumetrix
[submodule "vowpal_wabbit/repo"]
	path = vowpal_wabbit/repo
	url = https://github.com/JohnLangford/vowpal_wabbit
[submodule "storm/repo"]
	path = storm/repo
	url = https://github.com/nathanmarz/storm
[submodule "jimi-robot/repo"]
	path = jimi-robot/repo
	url = https://github.com/arozhkov/jimi-robot
[submodule "adagios/repo"]
	path = adagios/repo
	url = https://github.com/opinkerfi/adagios
[submodule "pynag/repo"]
	path = pynag/repo
	url = https://github.com/pynag/pynag
[submodule "okconfig/repo"]
	path = okconfig/repo
	url = https://github.com/opinkerfi/okconfig
[submodule "graph-explorer/repo"]
	path = graph-explorer/repo
	url = https://github.com/vimeo/graph-explorer.git
[submodule "seyren/repo"]
	path = seyren/repo
	url = https://github.com/scobal/seyren.git
[submodule "influxdb/repo"]
	path = influxdb/repo
	url = https://github.com/influxdb/influxdb
[submodule "librato/python-librato"]
	path = librato/python-librato
	url = https://github.com/librato/python-librato
[submodule "librato/librato-services"]
	path = librato/librato-services
	url = https://github.com/librato/librato-services
[submodule "librato/librato-annotate"]
	path = librato/librato-annotate
	url = https://github.com/librato/librato-annotate
[submodule "librato/statsd-cookbook"]
	path = librato/statsd-cookbook
	url = https://github.com/librato/statsd-cookbook
[submodule "librato/papertrail-cookbook"]
	path = librato/papertrail-cookbook
	url = https://github.com/librato/papertrail-cookbook
[submodule "librato/dropwizard-librato"]
	path = librato/dropwizard-librato
	url = https://github.com/librato/dropwizard-librato
[submodule "librato/metrics-librato"]
	path = librato/metrics-librato
	url = https://github.com/librato/metrics-librato
[submodule "librato/statsd-librato-backend"]
	path = librato/statsd-librato-backend
	url = https://github.com/librato/statsd-librato-backend
[submodule "librato/librato-metrics"]
	path = librato/librato-metrics
	url = https://github.com/librato/librato-metrics
[submodule "librato/librato-java"]
	path = librato/librato-java
	url = https://github.com/librato/librato-java
[submodule "librato/librato-rails"]
	path = librato/librato-rails
	url = https://github.com/librato/librato-rails
[submodule "librato/librato-rack"]
	path = librato/librato-rack
	url = https://github.com/librato/librato-rack
[submodule "librato/librato-storm-kafka"]
	path = librato/librato-storm-kafka
	url = https://github.com/librato/librato-storm-kafka
[submodule "librato/librato-logreporter"]
	path = librato/librato-logreporter
	url = https://github.com/librato/librato-logreporter
[submodule "Monitorix/repo"]
	path = Monitorix/repo
	url = https://github.com/mikaku/Monitorix
[submodule "cavalieri/repo"]
	path = cavalieri/repo
	url = https://github.com/juruen/cavalieri
[submodule "opserver/repo"]
	path = opserver/repo
	url = https://github.com/opserver/Opserver
[submodule "librenms/repo"]
	path = librenms/repo
	url = https://github.com/librenms/librenms.git
[submodule "lnav/repo"]
	path = lnav/repo
	url = https://github.com/tstack/lnav
[submodule "sysdig/repo"]
	path = sysdig/repo
	url = https://github.com/draios/sysdig
[submodule "skyline/repo"]
	path = skyline/repo
	url = https://github.com/etsy/skyline
[submodule "oculus/repo"]
	path = oculus/repo
	url = https://github.com/etsy/oculus
[submodule "consul/repo"]
	path = consul/repo
	url = https://github.com/hashicorp/consul
[submodule "glances/repo"]
	path = glances/repo
	url = https://github.com/nicolargo/glances
